@model IEnumerable<ThePetShopApp.Models.Animal>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our pet shop!</h1> 
    <h3 class="display-6">Theese are our most commented pets</h3>
    <div class="container" >
        @await Html.PartialAsync("_MasonryView")

</div>
</div>