@model ThePetShopApp.Models.Animal

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>



<div>
	<h4>Animal</h4>
	<hr />
	<div class="container">
		<div class="row">
			<div class="col-7">
				@await Html.PartialAsync("_DetailsPartial")
				<div>
					<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Back To Home</a>
					<a class="btn btn-secondary" asp-action="Index">Back to List</a>

				</div>
			</div>
			<div class="col">
				@await Html.PartialAsync("_CommentsPartial")
			</div>

		</div>
	</div>
</div>


