@model IEnumerable<ThePetShopApp.Models.Animal>

@{
    ViewData["Title"] = "Index";
}
@*Form To Search by Category and Name*@
<h1>Catalogue</h1>

<div class="mb-3">
    <a class="btn btn-dark" asp-action="Index" asp-controller="Animals">Table View</a>
</div>


@await Html.PartialAsync("_SearchBar")
<hr />

@await Html.PartialAsync("_MasonryView")





